results*
testWorld*
test*
test
development_scripts
.git
.github
.vscode
.mcattributes
.*rc.json
.*rc
node_modules
package-lock.json
trialSpawnerLocations.json

# JS only version ignores.
# *.ts
# !*.d.ts
